<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.longl.module_wave">

    <application
        android:theme="@style/AppTheme">
        <activity android:name="com.study.longl.module_wave.ui.WaveMainActivity"/>
    </application>

</manifest>